<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopApp">
        <activity
            android:name=".route.DegradeGlobalActivity"
            android:exported="false" />
        <activity
            android:name=".biz.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".biz.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".biz.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 设置当前的activity为launcher应用 -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <!--  -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>