<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biz_order">

    <application>
        <activity
            android:name=".address.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
    </application>

</manifest>